---
---

@import "reset";

$the_color: hsl(194, 40%, 47%);

body {
	background: $the_color;
	color: hsl(0, 0%, 30%);
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 100%;
}

.container {
	max-width: 560px;
	margin: 0 auto;
	padding: 0 7%;

	#home .site-header & {
		max-width: 700px;
	}
}

a {
	color: $the_color;
}

%flanker {
	background: $the_color;
	color: hsl(0, 100%, 100%);
	padding: .875em 0;
	text-align: center;

	a	{ color: inherit; }
}

.site-header {
	@extend %flanker;

	h1	{ 
		font-size: 1.25em;
		line-height: 1em;
		font-weight: 600;

		a { text-decoration: none; }
	}

	#home & {
		padding: 8.5em 0 8.5em;

		h1 { 
			font-size: 2em;
			margin: 0 0 0.5em;
		}

		p {
			color: lighten($the_color, 40%);
			font-weight: 300;
			font-size: 1.1em;
			line-height: 1.3em;
		}
	}
}

.site-footer {
	@extend %flanker;

	ul li {
		display: inline-block;
		margin-right: 2em;

		&:last-child {
			margin: 0;
		}
	}
}


.content {
	background: hsl(0, 100%, 100%);
	padding: 2.5em 0 3em;

	h1, h2 {
		font-weight: 600;
		line-height: 1.2em;

		a {
			color: inherit;
		}
	}

	h1 {
		font-size: 1.75em;
		text-align: center;
		margin: 0 0 .5em;

		#home & {
			font-size: 1.3em;
		}
	}

	h2 {
		font-size: 1.1em;
		text-transform: uppercase;
		margin: 0 0 .75em;
	}

	p {
		line-height: 1.5em; 
		margin: 0 0 1em;

		+ h2 {
			margin-top: 2em;
		}	
	}

	ul {
		line-height: 1.4em;
		list-style: disc; 
		margin: 1.5em 2.5em; 
		color: hsl(0, 0%, 36%);
	}

	li { margin: 0 0 .5em; }

}

.post {

	.date {
		text-align: center;
		color: hsl(0, 0%, 50%);
	}

	#home & {
		padding: 0 0 1.8em;
		margin: 0 0 2.6em;
		border-bottom: 1px solid hsl(0, 0%, 80%);

		&:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}
	}
}

@media screen and (min-width: 500px) {
	.site-header {
		padding: 1.2em 0;

		#home & {
			padding: 6rem 0;

			h1 { font-size: 3em; }
			p { font-size: 1.25em; }
		}
	}
}
